[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-notifications-hq = "*"
pillow = "*"

[dev-packages]
selenium = "*"

[requires]
python_version = "3.8"
