body {
    font-family: sans-serif;
    background-color: #E3E5EA;
    margin: 0;
    padding: 0;
    color: #2c3a50;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.blob {
    background-color: white;
    border: 1px solid gray;
    border-radius: 50px;
    margin-bottom: 3%;
    box-shadow: 5px 5px 0px gray;
    overflow: hidden;
}


h1 {
    color: #2c3a50;
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 10px;
    text-align: center;
}


h2 {
    color: #2c3a50;
    font-size: 38px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 10px;
    text-align: center;
}

input[type="submit"]:hover {
    cursor:pointer;
    box-shadow: 2.5px 2.5px 0px gray;
    /* letter-spacing: 2px; */
}