html, body, main{
    padding: 0;
    color: #16161d;
}


/* TEXT */

.txt_small {
    font-size: smaller;
}

.txt_large {
    font-size: larger;
}

.txt_left {
    text-align: left;
}

.txt_center {
    text-align: center;
}

.txt_right {
    text-align: right;
}

.txt_bold {
    font-weight: bold;
}

.txt_cursive {
    font-style: italic;
}

.txt_underline {
    text-decoration: underline;
}

.txt_ls_small {
    letter-spacing: 2px;
    padding-left: 2px;
}

.txt_ls_med {
    letter-spacing: 5px;
    padding-left: 5px;
}

.txt_ls_l {
    letter-spacing: 10px;
    padding-left: 10px;
}

.txt_reset {
    font-size: 20px;
}

/* PADDING */

.p_top_small {
    padding-top: 20px;
}
.p_btm_small {
    padding-bottom: 20px; 
}

.p_top_med {
    padding-top: 50px;
}

.p_btm_med {
    padding-bottom: 50px;
}

.p_all_small {
    padding: 20px;
}

.p_all_med {
    padding: 50px;
}



.p_side_xs {
    padding-left: 5px;
    padding-right: 5px;
}

.p_side_s {
    padding-left: 10px;
    padding-right: 10px;
}

.p_side_m {
    padding-left: 20px;
    padding-right: 20px;
}

.p_card {
    padding: 0 1.25rem;
}

/* MARGIN */

.m_top_xsmall {
    margin-top: 10px;
}

.m_top_em {
    margin-top: 1em;
}

.m_top_em_s {
    margin-top: 0.75em;
}
.m_card_top {
    margin-top: 1.25rem;
}

.m_top_small {
    margin-top: 20px;
}
.m_top_med {
    margin-top: 50px;
}
.m_top_l {
    margin-top: 100px;
}


.m_btm_small {
    margin-bottom: 20px;
}
.m_btm_med {
    margin-bottom: 50px;
}
.m_btm_l {
    margin-bottom: 100px;
}


.m_left_small {
    margin-left: 20px;
}
.m_left_med {
    margin-left: 50px;
}
.m_left_l {
    margin-left: 100px;
}


.m_right_small {
    margin-right: 20px;
}
.m_right_med {
    margin-right: 50px;
}
.m_right_l {
    margin-right: 100px;
}


.m_small {
    margin: 20px;
}
.m_med {
    margin: 50px;
}
.m_l {
    margin: 100px;
}



/* LINK */
.simple_link {
    color: inherit;
}

.simple_link:hover {
    color: inherit;
    text-decoration: underline;
}

.simple_link_no_:hover {
    /* color: inherit; */
    text-decoration: none;
}

.txt_white {
    color: white;
}


.btn-icon {
    background-color: transparent;
}

.nothing-text {
    text-align: center;
    color: 848484;
    font-style: italic;
    font-size: 15px;
}

.full_width {
    width: 100%;
}

.div_top {
    border-top: 1px solid rgb(156, 156, 156);
    padding-top: 1em;
}


.folder_active {
    background-image: linear-gradient(120deg, rgba(88, 225, 224, 0.75), rgba(255, 135, 74, 0.75));  
    border: 1px solid lightgrey;
}

.folder_unactive {
    border: 1px solid lightgrey;
}


.card-accordion {
    background-color: transparent !important;
    border: none !important;
}

.btn-accordion {
    border: none;
    background-color: transparent;
    outline: none;

}
.btn-accordion:focus {

    outline: none;
}

.btn-register {
    width: 100%;
    border-radius: 50px;
}


.card-event {
    border: 1px solid #777777;
}

.desc_card {
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    display: flex;
    align-items: center;
 }
