/* NOTIFICATION BELL */

#bell_dropdown {
    padding-top: 5px;
    position: absolute;
    top:20px;
    right:50px;
    z-index: 1000;
  }


.live_notify_list {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 10px 10px 00px rgba(0,0,0,0.5);
    z-index: 1;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 100%;
    right: -0px;
    min-width: 200px;
    max-width: 400px;

}

.live_notify_list li {
    color:black;
    vertical-align:middle;
    list-style-type: none;
}

.live_notify_list a:not(:last-child) li{
    padding-bottom: 4px;
    border-bottom:1px solid black;
}


.visible-list {
    display: block;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: 50%;
    z-index: 1;
    text-align: center;
    color:white;
    font-size: 13px;
  }

.dot p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#busybell {
    height: 35px;
    cursor: pointer;
}

.hidden-list {
    display: none !important;
}
