@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
html, body, main{
    height: 100%;
}


[dir="overlapTS"] > :not(.overlapTS_txt),
[dir="ownTS"] > :not(.ownTS_txt){
  display: none;

}


.img_test {
    /* border-radius: 8px; */
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    /* max-height: 20em; */
    max-width: 100%;
    /* object-fit:fill; */
    /* margin-top: 2%; */
    /* border: 1px solid transparent; */
    /* width: 100%; */
    /* float: right !important; */
    /* text-align: right; */
    
    /* border-radius: 12px;
    border: 2.5px solid #8d8d8d; */
    /* border: 1px solid rgba(187, 53, 53, 0.945); */
    border-radius: .5rem;
}


.img_test {
    /* width: 100%; */
}

.event_info_wrap {
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(156, 156, 156);
}


.event_image {
    padding: 0 !important;
}


.event_tit {
    font-size: 2em;
    letter-spacing: 5px;
    padding-left: 5pxmål;
    /* color: red; */
}

.event_txt {
    padding-right: 40px;
}


.event_inf_text {
    text-transform: uppercase;
}

.event_desc {
    font-size: 1.25em;
}

.white_txt {
    color: black;
}

.people td{
    text-align: center;
}


.people tr{
    text-align: center;
}


.people {
    width: 100%;
    text-align: center;
}

.v-center {
    display: flex;
    align-items: center;
 }



.left-section {
    background-color: lightgray;
    background-image: linear-gradient(120deg, #58E1E0, #FF874A);
    /* height: 100%; */
  
}


.folder_row {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.folder_active {
    /* border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid transparent !important;
    border-left: none;
    border-right: none;
    padding-top: 2px;
    background-color: white; */
    background-image: linear-gradient(120deg, #58E1E0, #FF874A);
    border: 1px solid lightgrey;
}

.folder_unactive {
    /* border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightgrey; */
    /* background: blue; */
    border: 1px solid lightgrey;
}


/* ACCORDION STUFF DOWN HERE */
#eventAccordion {
    width: 100%;
}

.card-accordion {
    background-color: transparent !important;
    border: none !important;
}

.btn-accordion {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}
.btn-accordion:focus {

    outline: none;
}


.accordion .fa{
    margin-right: 0.5rem;
}





/* TIME SLOT STUFF */

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: white;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 1  ;
}

.step.active {
    background-color: #FF874A;
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #FF874A;
opacity: 0.5;
}



input[type=radio] {
visibility: hidden;
width: 0;
padding: 0;
margin: 0;
}

input[type=radio]:checked ~ label{
    /* Or `#a1:checked+label` if you only want it for that input */
    background-color: rgb(205, 252, 166) !important;
}
.tmp label {
    /* Or `#a1:checked+label` if you only want it for that input */
    background-color: rgb(238, 159, 145) !important;
}

.desc {
    max-width: 50ch;
  
    
}

/* .event_info {
    border: 1px solid red;
    border-radius: 20px;
} */