html, body, main{
    height: 100%;
}


[dir="overlapTS"] > :not(.overlapts-txt),
[dir="ownTS"] > :not(.ownts-txt){
  display: none;

}


.event-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    object-fit:contain;
    border-radius: .5rem;
}

.event-img-wrap {
    padding: 0 !important;
}



.event-title {
    font-size: 2em;
}

.event-txt {
    padding-right: 40px;
}



.event-desc {
    font-size: 1.25em;
}


.people td{
    text-align: center;
}


.people tr{
    text-align: center;
}


.people {
    width: 100%;
    text-align: center;
}


.left-section {
    background-color: lightgray;
    background-image: linear-gradient(120deg, rgba(88, 225, 224, 0.75), rgba(255, 135, 74, 0.75));  
}



/* ACCORDION */
#eventAccordion {
    width: 100%;
}

.accordion .fa{
    margin-right: 0.5rem;
}



/* TIME SLOT STUFF */
/* SOURCE: https://www.w3schools.com/howto/howto_js_form_steps.asp*/
/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: white;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 1  ;
}

.step.active {
    background-color: #FF874A;
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #FF874A;
opacity: 0.5;
}



input[type=radio] {
visibility: hidden;
width: 0;
padding: 0;
margin: 0;
}

input[type=radio]:checked ~ label{
    /* Or `#a1:checked+label` if you only want it for that input */
    background-color: rgb(205, 252, 166) !important;
}
.tmp label {
    /* Or `#a1:checked+label` if you only want it for that input */
    background-color: rgb(238, 159, 145) !important;
}


.final-time {
    font-size: 1.5em;
}

.invitefriend-field {
    width: 80%;
}

#id_invitee {
    font-size: 1.25em;
    width: 50%;
}

.ts-txt {
    font-size: 1.25em;
    padding-bottom: 1em;
}

.ts-field {
    width: 100%;
}

