body {
    /* margin-top: 50px; */
    /* background-color: ; */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E3E5EA;
}

main {
    padding-top: 100px;
}

.header {
    overflow: hidden;
    border-bottom: 3px solid white;
    padding: 20px 0px;
    /* padding-bottom: 20px; */
    background-color: #2F323A;
    width: 100%;
    padding-top: 30px;
    /* padding-bottom: 20px; */
    position: fixed;
    margin-bottom: 60px;
}

.header a {
    float: left;
    /* color: white; */
    text-align: center;
    /* padding: 10px; */
    text-decoration: none;
    
}

.header a.name {
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 10px;
    margin-left: 60px;
    padding-top: 0px;
    color: #ff6600f8;
    text-shadow: 1px 1px 0.5px white;
}

.header-right {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.event_btn {
    border: 1px solid #97ABB1;
    margin-right: 40px;
    font-size: 20px;
    letter-spacing: 2.5px;
    background-color: #E3E5EA;
    border-radius: 50px;
    padding: 10px 10px;
    padding-right: 25px;
    /* margin-top: 10px; */
    font-weight: 900;
    color: black;
    text-shadow: 2px 2px white;
}

.event_btn:hover {
    color: white;
    border: 1px solid #F36000;
    background-color: #F36000;
    text-shadow: 2px 2px #2F323A;
}



.header a:hover {
    cursor: pointer;
}

.sign_out:hover {
    border-bottom: 1px solid white;
}

.sign_out {
    font-size: 20px;
    margin-top: 5px;
    padding-top: 5px;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
    text-transform: lowercase;
    color: white;
}
