html, body, main{
    height: 100%;
}


.nav_bar {
 
    background-color: lightgray;
    background-image: linear-gradient(120deg, rgba(88, 225, 224, 0.75), rgba(255, 135, 74, 0.75));
    /* box-shadow: 2px 0px 1px #8D8D8D; */
    /* overflow: hidden; */
}
 
[dir="home"] > :not(.homeTxt),
[dir="host"] > :not(.hostTxt),
[dir="parti"] > :not(.partiTxt),
[dir="friends"] > :not(.friendsTxt) {
  display: none;
}

.nav_btn {
    border: none;
    background: none;
    padding: 15px 0px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #505050;
    width: 100%;
}

.nav_btn_selected {
    color: #16161d;
    font-weight: bolder;
}

.nav_btn_selected:focus{
    outline: none;
    border: none;
}

.nav_btn:active {
    outline: none;
    border: none;
}


.so {
    color: #16161d;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

.dash {
 font-size: 25px;
 text-transform: capitalize;
 border-bottom: 1px solid #16161d;
}

.ce_btn {
    text-transform: capitalize;
}

.plus {
    font-weight: bolder;
}


[dir="home"] > :not(.homeTxt),
[dir="host"] > :not(.hostTxt),
[dir="parti"] > :not(.partiTxt) {
  display: none;

}


.welcome_message {
    text-align: center;
    letter-spacing: 5px;
    padding-left: 5px;
    font-size: 2em;
    text-shadow: 1px 1px 0px white;
}

.sub_title {
    text-transform: uppercase;
    padding: 10px;
    padding-left: 15px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 0px white;
}



/* INBOX / INVITES */
.inbox_box {
    width: 60%;
    margin: auto;
    border: 1px solid #d6d6d6;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px #cfcfcf;
}

.card {
    margin-bottom: 20px;
}


.form-card textarea {
    max-height: 300px;
    min-height: 2em;
    height: 100px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.card-image {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
    margin-top: 2.5em;
    border-radius-top: .5rem;

}



input[name="hostradio"]:checked ~ .host_event {
    display: none;
}
.hostradio_txt {
    font-size: 1.25em;
    text-transform: capitalize;
}
.host_event {
    margin-top: 1.5em;
}

.part_event {
    margin-top: 1.5em;
}

input[value="all-h"]:checked ~ #all-host {
    display: block;
}
input[value="tbd-h"]:checked ~ #tbd-host {
    display: block;
}
input[value="set-h"]:checked ~ #set-host {
    display: block;
}

input[name="partradio"]:checked ~ .part_event {
    display: none;
}

input[value="all-p"]:checked ~ #all-part {
    display: block;
}
input[value="tbd-p"]:checked ~ #tbd-part {
    display: block;
}
input[value="set-p"]:checked ~ #set-part {
    display: block;
}

