html, body, main{
    height: 100%;
}


.nav_bar {
 
    background-color: lightgray;
    background-image: linear-gradient(120deg, rgba(88, 225, 224, 0.75), rgba(255, 135, 74, 0.75));
    /* box-shadow: 2px 0px 1px #8D8D8D; */
    /* overflow: hidden; */
}
 

[dir="home"] > :not(.homeTxt),
[dir="host"] > :not(.hostTxt),
[dir="parti"] > :not(.partiTxt) {
  display: none;

}

.nav_btn {
    border: none;
    background: none;
    /* margin-bottom: 50px; */
    padding: 15px 0px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #505050;
    width: 100%;
}

.nav_btn_selected {
    /* background: #343a40; */
    color: black;
    font-weight: bolder;
    /* outline: none; */
}

.nav_btn_selected:focus{
    outline: none;
    border: none;
}

.nav_btn:active {
    outline: none;
    border: none;
}


.so {
    color: black;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

.dash {
 font-size: 25px;
 text-transform: capitalize;
 border-bottom: 1px solid black;
}

.ce_btn {
    /* border-radius: 10px !important; */
    text-transform: capitalize;
    /* padding-left: 2.5px; */
    /* letter-spacing: 2.5px; */
    /* font-weight: bold; */
}

.plus {
    font-weight: bolder;
}


[dir="home"] > :not(.homeTxt),
[dir="host"] > :not(.hostTxt),
[dir="parti"] > :not(.partiTxt) {
  display: none;

}


.displayright {
    /* background-image: linear-gradient(120deg, #58E1E0, #FF874A); */
}


.welcome_message {
    text-align: center;
    letter-spacing: 5px;
    padding-left: 5px;
    font-size: 50px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 0px white;
    color: #343a40;
}

.sub_title {
    text-transform: uppercase;
    padding: 10px;
    padding-left: 15px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 0px white;
}



/* INBOX / INVITES */
.inbox_box {
    width: 60%;
    margin: auto;
    border: 1px solid #d6d6d6;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px #cfcfcf;
}

.card {
    margin-bottom: 20px;
}

.nothing {
    text-align: center;
    color: 848484;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: -10px;
}




/* NOTIFICATION BELL */

.bell_dropdown {
    /* position: relative; */
    /* margin-right: 40px; */
    /* float: left; */
    padding-top: 5px;
  }

.notifimg {
    /* width: 35px; */
    /* position: absolute; */

}
.live_notify_list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 15px 15px 0px 30px;
    top: 60%;
    width: 250px;
}

.live_notify_list li {
    color:black;
    margin:0 20px 20px 0;
    vertical-align:middle;
    list-style-type: square;

}

.bell_dropdown:hover .live_notify_list {display: block;}


.dot {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: 25%;
    z-index: 1;
    text-align: center;
    color:white;
    font-size: 13px;
  }

.dot p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.busybell {
    /* width: 35px; */
    height: 35px;
}

.invislist {
    display: none !important;
}
