.signup_title {
    font-size: 2em;
    color: #16161d;
}

.sub_signup_title {
    font-size: 35px;
}


.p_btn {
    padding: 10px 20px !important;
    font-size: 20px;
}


#id-username {
    font-size: 25px;
}

.field_wrap *{
    font-size: 1.1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
}

.field_wrap *:focus {
    outline: none;
}

