html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(120deg, rgba(88, 225, 224, 0.75), rgba(255, 135, 74, 0.75));  
    color: #16161d;
}
.main_title {
    font-size: 2.5em;

}

.under_title {
    font-size: 1.5em;
}

.sub_txt {
    font-size: 1em;
    max-width: 60ch;
}

.desc_txt {
    font-size: 1.5em;
    max-width: 60ch;
}

.logo_style {
    margin-top: 10vh;
}