html {
    height: 100%;
}
body {
    background: rgb(0,153,224);
    background: linear-gradient(135deg, rgba(0,153,224,1) 0%, rgba(0,166,179,1) 50%, rgba(0,177,129,1) 100%);
}
.main_title {
    font-size: 50px;
    margin-top: 10vh;
    color: white;
}


.sub_txt {
    font-size: 20px;
    color: white;
}

