{% extends 'framework.html' %}
{% load static %}
{% load placeholder %}
{% block title %}Sign in{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
<link rel="stylesheet" href="{% static 'css/reg.css' %}" />
{% endblock %}

{% block content %}

<div class="container-fluid">
  {%include "startpage_header.html"%}


  <div class="row m_top_med m_btm_small justify-content-center">


    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">

      <div class="row m_top_xsmall">
        <div class="col d-flex justify-content-center signup_title m_top_med m_btm_small">
          <img src="{%static 'icons/logo.svg'%}" alt="Schedge" width="auto">
        </div>
      </div>



      <div class="row justify-content-center">
        <div class="col-auto">
          <form method="post" id="sign-in-form">

            {% csrf_token %}
            <div class="field_wrap">
              <div class="row">

                {{ form.username | placeholder:"Username" }}
              </div>
              <div class="row">

                {{ form.password | placeholder:"Password" }}
              </div>

            </div>


            <div class="txt_center">

              <button type='submit' class="btn btn-dark btn-register txt_large m_top_em_s p_btn">Sign in</button>
            </div>
          </form>
          <div class="row justify-content-center m_top_em p_btm_med" style="word-wrap:break">
            <i>Did you forget your password?</i>&nbsp;
            <p><a class="simple_link" href="{% url 'password_reset' %}">Reset Password</a></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="txt_center">
            <!-- </break> -->
            <span class="txt_large">
              Don't have an account yet?
            </span>
            <form action="{% url 'signup' %}">
              <input type="submit" class="btn btn-dark m_btm_small btn-register m_top_small p_side_m" value="Sign up" />
            </form>
          </div>

        </div>
      </div>



    </div>


  </div>

</div>





{% endblock %}