<!-- templates/registration/signup.html -->
{% extends 'framework.html' %}
{% load static %}
{% load placeholder %}
{% block title %}Sign Up{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
<link rel="stylesheet" href="{% static 'css/reg.css' %}" />
{% endblock %}


{% block content %}


<div class="container-fluid">
  {%include "startpage_header.html"%}
  <div class="row justify-content-center m_btm_small">
    <div class="col-md-10 m_btm_small">

      <div class="row justify-content-center txt_center">
        <div class="col-auto signup_title m_top_small m_btm_small">
          Create a <img src="{%static 'icons/logo.svg'%}" alt="Schedge" style="margin-bottom:0.45em;"
          width="30%"> Account
        </div>
      </div>

      <div class="row justify-content-center txt_center">
        <div class="col-auto">

          <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class="field_wrap">
              <div class="row">
                {{ form.username | placeholder:"Username"}}
              </div>
              <div class="row">
                {{ form.first_name | placeholder:"First Name"}}
              </div>
              <div class="row">
                {{ form.last_name | placeholder:"Last Name"}}
              </div>
              <div class="row">
                {{ form.email | placeholder:"Email address"}}
              </div>
              <div class="row">
                {{ form.password | placeholder:"Password"}}
              </div>
              <div class="row">
                {{ form.password2 | placeholder:"Repeat Password"}}
              </div>
            </div>

          

            <!-- Checkbox to opt in to our terms and services to be able ot use our service. -->
            <div class="m_top_em">
            <input id='check' name='checkbox' type='checkbox' onclick="checkbox_clicked()">
              By clicking Sign up, you agree to our
              <a class="terms" href={% url 'tands' %} data-toogle="tooltip" data-placement="top" title="">Terms.</a>
            </div>
            <button type='submit' class="btn btn-dark btn-register txt_large m_top_xsmall p_btn" id='signupbtn' disabled>Sign
              up</button>
        </div>
      </div>
      <div class="row justify-content-center">


        <br>
      </div>
        <div class="row justify-content-center">
          
        <div class="txt_center">

         
        </div>
        </form>
      </div>
      <div class="row m_top_small">
        <div class="col d-flex justify-content-center">
          <div class="txt_center">
            <!-- </break> -->
            <span class="txt_large">
              Do you already have an account?
            </span>
            <form action="{% url 'login' %}">
              <input type="submit" class="btn btn-dark btn-register m_top_small p_side_m" value="Sign in" />
            </form>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<script src='{%static "js/signup.js"%}'></script>


{% endblock %}