<!-- templates/registration/signup.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}

{% block header%}{%endblock%}
{% block auth %}{% endblock %}

{% block content %}
<form action="{% url 'signup' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}

 <!-- Checkbox to opt in to our terms and services to be able ot use our service. -->
  <input id='check' name='checkbox' type='checkbox' onclick="checkbox_clicked()">
  <span>
    By clicking Sign up, you agree to our
    <a class="terms" href={% url 'tands' %} data-toogle="tooltip" data-placement="top" title="">Terms.</a>
  </span> 
  <br>
  
  <button type='submit' id='signupbtn' disabled>Sign up</button>
</form>
</break>
Already have an account? 
<form action="{% url 'login' %}">
  <input type="submit" value="Sign in" />
</form>
<script src='{%static "js/signup.js"%}'></script>
{% endblock %}