{% extends 'framework.html' %}
{% load static %}
{% block title %}Schedge{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
{% endblock %}

{% block content%}


<div class="container-fluid">
    <div class="container-fluid">
        <div class="row txt_ls_med m_top_small">
          <div class="col logo txt_large p_side_m">
            <a href="{% url 'home' %}" class="simple_link">Schedge</a>
          </div>
        </div>
      
      
    <div class="row">
        <div class="col txt_center main_title txt_ls_l">About us</div>
    </div>

    <div class="row">
        <div class="col txt_center sub_txt m_top_med txt_ls_small">
            Hi! We're Zig Inc.
        </div>
    </div>

    <div class="row">
        <div class="col txt_center sub_txt m_top_med txt_ls_small">
            We are commited to making scheduling your events as easy as possible.
        </div>        
    </div>
    <div class="row">
        <div class="col txt_center under_title txt_ls_l">Who are we?</div>
    </div>
    <div class="row">
        <div class="col txt_center sub_txt m_top_med txt_ls_small">
            We are Alexander, Elias, Iris, Marte, Theodor and Vetle.
        </div>        
    </div>
    <div class="row">
        <div class="col txt_center under_title txt_ls_l">Where can you find us?</div>
    </div>
    <div class="row">
        <div class="col txt_center sub_txt m_top_med txt_ls_small">
            At Realfagsbygget between 10:00 AM and 10:00 PM
        </div>        
    </div>
</div>
{%endblock%}
