{% extends 'framework.html' %}
{% load static %}
{% block title %}Schedge{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
{% endblock %}

{% block content%}
<div class="container-fluid h-100">
    {%include "startpage_header.html"%}

    <div class="row">
        <div class="col main_title txt_center txt_ls_med m_top_med">
            Hi, we are Zig Inc.
        </div>
    </div>
    <div class="row justify-content-center m_top_em">
        <div class="col txt_center sub_txt txt_ls_small">
            We are commited to making scheduling your events as easy as possible.
        </div>
    </div>

    <div class="row">
        <div class="col txt_center under_title txt_ls_med m_top_em">Who are we?</div>
    </div>
    <div class="row justify-content-center">
        <div class="col txt_center sub_txt txt_ls_small">
            We are Alexander, Elias, Iris, Marte, Theodor and Vetle.
        </div>
    </div>
    
    <div class="row">
        <div class="col txt_center under_title txt_ls_med m_top_em">Where can you find us?</div>
    </div>
    <div class="row justify-content-center">
        <div class="col txt_center sub_txt txt_ls_small">
            At Realfagsbygget Monday through Sunday between 10:00 AM and 10:00 PM
        </div>
    </div>
</div>
{%endblock%}