{% extends 'base.html' %}
{% load static %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'css/eventbase.css' %}" />
<link rel="stylesheet" href="{% static 'css/createevent.css' %}" />
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{%endblock%}

{%block title%}Create Event{%endblock%}
{% block header%}{%endblock%}
{% block content %}

<div class="wrap">
    <form action="/createevent/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ce">
            <h1>CREATE AN EVENT</h1>


            <table class="">
                {% for field in form %}
                <tr>
                    <td>{{field.label}}</td>
                    <div class="field">
                        <td>
                            {% if field.errors %}
                            <div class="errormsg invalid">{{ field }}
                                <span class="errormsgtext">{{field.errors}}</span>
                            </div>
                            {%else%}
                            {{ field }}
                            {% endif %}
                            {% if field.label == "Location" %}
                            <div id="loc-div"><button onclick="getLocation()" type="button" id="curlocbutton"
                                    class="smallbtn">Current
                                    Location</button>
                                <span class="invis" id="loc-err-msg"></span>
                            </div>
                            {% endif %}
                        </td>
                    </div>
                </tr>
                {% endfor %}
                <!-- <tr>
                <td>Title</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ form.location }}</td>
                <td id="loc-td"><button onclick="getLocation()" type="button" id="curlocbutton">Current Location</button>
                    <span class="invis" id="loc-err-msg"></span>
                </td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td>{{ form.starttime }}</td>
                <td>End Time</td>
                <td>{{ form.endtime }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                {% if form.startdate.errors %}
                <td class="errormsg"><p class="invalid">{{ form.startdate }}</p>
                    <span class="errormsgtext">{{form.startdate.errors}}</span>
                </td>
                {%else%}
                <td>{{ form.startdate }}</td>
                {% endif %}
                <td>End Date</td>
                <td>{{ form.enddate }}</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>{{ form.duration}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td>Image</td>
                <td>{{ form.image }}</td>
            </tr> -->

            </table>
            <div class="test">

                <input type="submit" value="Submit" class="btn btn-secondary" id="id_submit_btn">
            </div>
    </form>
</div>
</div>

<script src="{% static 'js/event.js' %}"></script>

{%endblock%}