{% extends 'framework.html' %}
{% load static %}
{% load nicedelta %}

{% block title %}Event{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/event_style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
{% endblock %}


{% block content %}


<div class="container-fluid h-100">
    <div class="row h-100">

        <!-- LEFT SECTION - INVITE, ATTENDEES, PENDING, ADD TIME SLOT -->
        <div class="col-sm-3 left-section">
            <div class="row">

                <div class="accordion" id="eventAccordion">

                    {% if user == event.host %}
                    {% include "event_hl.html" %}
                    {% endif %}

                    <!-- ATTENDEES -->
                    <div class="card card-accordion">
                        <div class="card-header card-accordion" id="headingAttendees">
                            <h2 class="mb-0">
                                <button type="button" class="btn-accordion txt_reset" data-toggle="collapse"
                                    data-target="#collapseAttendees">
                                    <i class="fas fa-plus fa"></i>
                                    Attendees
                                </button>
                            </h2>
                        </div>
                        <div id="collapseAttendees" class="collapse" aria-labelledby="headingAttendees"
                            data-parent="#eventAccordion">
                            <div class="card-body txt_center">
                                <table class="people">
                                    {% for participant in participants %}
                                    <tr>
                                        <td>
                                            {{participant.first_name}} {{participant.last_name}}
                                        </td>
                                        <td>
                                            {% if participant == user %}
                                            (you)
                                            {% elif user == event.host %}
                                            <form
                                                action="{% url 'participant_delete' event_id=event.id user_id=participant.id %}"
                                                method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-icon"><i
                                                        class='fas fa-trash-alt'></i></button>
                                            </form>
                                            {% elif participant == event.host %}
                                            (host)
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>


                    <!-- ADD TIME SLOTS -->
                    {%if event.status == "U" %}
                    <div class="card card-accordion">
                        <div class="card-header card-accordion" id="headingTS">
                            <h2 class="mb-0">
                                <button type="button" class="btn-accordion txt_reset" data-toggle="collapse"
                                    data-target="#collapseTS">
                                    <i class="fas fa-plus fa"></i>
                                    Add a time slot
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTS" class="collapse" aria-labelledby="headingTS" data-parent="#eventAccordion">
                            <div class="card-body txt_center">
                                <form action="{% url 'event' event_id=event.id %}" method="post"
                                    enctype="multipart/form-data" class="silent-form">
                                    {% csrf_token %}

                                    <div class="tab">
                                        <div class="ts-txt">
                                            Select a date
                                        </div>
                                        <div class="ts-field">

                                            {{timeslotform.date}}
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <div class="ts-txt">
                                            I'm available from
                                        </div>
                                        <div class="ts-field">
                                            {{timeslotform.start_time}}
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <div class="ts-txt">
                                            I'm available until
                                        </div>
                                        <div class="ts-field">
                                            {{timeslotform.end_time}}
                                        </div>
                                    </div>

                                    <div style="overflow:auto;">
                                        <div class="txt_center">
                                            <button class="btn btn-dark m_top_small" type="button" id="prevBtn"
                                                onclick="nextPrev(-1)">Previous</button>
                                            <button class="btn btn-dark m_top_small" type="button" id="nextBtn"
                                                onclick="nextPrev(1)">Next</button>
                                            <input id="ts_submit_btn" type="submit" class="btn btn-or m_top_small"
                                                value="Submit" style="display:none;">
                                        </div>
                                    </div>

                                    <div style="text-align:center;margin-top:10px;">
                                        <span class="step"></span>
                                        <span class="step"></span>
                                        <span class="step"></span>

                                    </div>


                                    {%comment%}
                                    {{ timeslotform.start_time }}
                                    {%endcomment%}
                                </form>
                            </div>
                        </div>
                    </div>
                    {%endif%}


                </div>
            </div>


            <div class="row justify-content-center m_top_med m_btm_small">

                <div class="col-md-5 txt_center">
                    <a href="{% url 'mypage' %}" class="btn btn-dark full_width">My page</a>
                </div>
                {% if user == event.host %}
                <div class="col-auto txt_center">
                    <a href="{% url 'eventedit' event_id=event.id %}" class="btn btn-dark">
                        <i class="fas fa-edit"></i>
                        Edit</a>
                </div>
                {% endif %}
            </div>
            {% if user != event.host %}
            <div class="row justify-content-center m_top_med m_btm_small">

                <div class="col txt_center">

                    <form action="{% url 'participant_leave' event_id=event.id user_id=user.id %}" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" value="Leave event">
                    </form>
                </div>

            </div>
            {% endif %}

        </div>


        <!-- RIGHT SECTION - EVENT INFO, TIME SLOTS -->
        <div class="col m_top_med">
            <!-- EVENT INFO -->
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row justify-content-center v-center">

                        {% if event.image.url != "/media/default.jpg" %}
                        <div class="col-md-4 event-img-wrap txt_center">
                            <img class="event-img" src="{{event.image.url}}" />
                        </div>
                        {% endif %}
                        <div class="col-md-8 displayright event-txt">
                            <div class="txt_center m_top_xsmall m_btm_small">

                                <span class="event-title " id="id_event_title"> {{event.title}}</span>
                                <br>
                                <i class="fas fa-user"></i>
                                {% if user != event.host %}
                                {{event.host.first_name}} {{event.host.last_name}}
                                {%else%}
                                You
                                {% endif %}
                            </div>

                            <div class="row justify-content-center">
                                <!-- <div class="col-md-2"></div> -->
                                {%if event.status == "C"%}
                                <div class="col txt_center txt_large final-time">
                                    <i class="fas fa-calendar-alt"></i>
                                    <i class="far fa-clock m_right_small"></i>
                                    {{event.chosen_time}}
                                </div>
                                {%else%}
                                <div class="col-md txt_large txt_right">
                                    <i class="fas fa-calendar-alt"></i>
                                    {%if event.startdate == event.enddate%}
                                    {{event.startdate}}
                                    {%else%}
                                    {{event.startdate}} - {{event.enddate}}
                                    {%endif%}

                                </div>

                                <div class="col-md txt_large">

                                    <i class="far fa-clock"></i>
                                    {{event.starttime|time:'H:i'}} - {{event.endtime|time:'H:i'}}


                                </div>
                                {%endif%}
                            </div>
                            <div class="row justify-content-center">
                                <!-- <div class="col-md-2"></div> -->
                                <div class="col-md txt_large txt_right">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{event.location}}

                                </div>
                                <div class="col-md txt_large">
                                    <i class="fas fa-stopwatch"></i> {{event.duration|nicedelta}}

                                </div>
                            </div>


                            <div class="row justify-content-center">

                                <div class="col-md-8 event-desc m_top_small">
                                    {{event.description}}
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

            {%if event.status == "U"%}

            <!-- TIMESLOT SECTION -->
            <div class="row m_top_med justify-content-center txt_center">
                <div class="col-md-5 folder_active btn btn-light" id="overlapTS">
                    <button class="btn-accordion txt_large full_width" onclick="tmslotToggle('overlapTS')">Overlapping
                        Time Slots</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 folder_unactive btn btn-light" id="ownTS">
                    <button class="btn-accordion txt_large full_width" onclick="tmslotToggle('ownTS')">My Time
                        Slots</button>
                </div>

            </div>






            <div class="row m_top_med">
                <!-- BUTTONS -->

                <!-- TIMESLOTS -->
                <div class="col displayright">
                    <div dir="overlapTS">

                        <!-- overlap timeslots -->
                        <div class="overlapts-txt">
                            {% if not pts %}
                            <div class="row">
                                <div class="col nothing">

                                    There are currently no overlapping time slots
                                </div>
                            </div>
                            {% endif%}

                            
                            <div class="card-columns">



                                {% for pt in pts %}

                                {% if user == event.host%}

                                <div class="card" type="button" data-toggle="modal"
                                    data-target="#exampleModalCenter{{pt.id}}">
                                    {% else %}
                                    <div class="card">


                                        {% endif%}
                                        <div class=" card-body">
                                            <div class=" card-text">
                                                <div class="row justify-content-center">
                                                    <i class="fas fa-clock m_right_small"></i>
                                                    {{pt.start_time|time:"H:i"}} -
                                                    {{pt.end_time|time:"H:i"}}
                                                </div>
                                                <div class="row justify-content-center">
                                                    <i class="fas fa-calendar-alt m_right_small"></i>
                                                    {{pt.date }}
                                                </div>
                                                <div class="row justify-content-center">
                                                    <i class="fas fa-users m_right_small"></i>
                                                    {{pt.n_participants}} / {{event.n_attendees}}
                                                </div>
                                                {% if user == event.host%}
                                                <div class="row justify-content-center m_top_small">
                                                    <div class="btn btn-dark">See Overlaps</div>
                                                </div>
                                                {%endif%}
                                            </div>

                                        </div>
                                        {% if user == event.host%}
                                    </div>

                                    <!-- To get popup -->
                                    <div class="modal fade" id="exampleModalCenter{{pt.id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle{{pt.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle{{pt.id}}">Overlapping Time
                                                        Slots -
                                                        {{pt.date}}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'timeslot_select' event_id=event.id %}"
                                                        method="post" id="selectform{{pt.id}}">
                                                        {% csrf_token %}
                                                        <div class="row  justify-content-center m_btm_small ">
                                                            <div class="desc p_card">

                                                                Select a desired time slot
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            {% for starttime, endtime in pt.split %}
                                                            <div class="col-md-4 tmp">

                                                                <input type="radio" class="btn-check" name="options"
                                                                    id="option{{starttime}}-{{pt.id}}" autocomplete="off"
                                                                    value="{{starttime|time:'H:i'}},{{endtime|time:'H:i'}},{{pt.date|date:'Y-m-d'}}">
                                                                <label class="btn" for="option{{starttime}}-{{pt.id}}"
                                                                    style="width:100%;">
                                                                    {{starttime|time:"H:i"}}
                                                                    -
                                                                    {{endtime|time:"H:i"}}</label>
                                                            </div>
                                                            {% endfor %}
                                                            <!-- <input type="submit" value="Submit" > -->
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="submit" class="btn btn-dark"
                                                        form="selectform{{pt.id}}">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%else %}
                                </div>
                                {% endif%}
                                {% endfor %}

                            </div>




                        </div>

                        <!-- own timeslots -->
                        <div class="ownts-txt">

                            {% if not your_timeslots %}
                            <div class="row">
                                <div class="col nothing">

                                    You have not added any time slots
                                </div>
                            </div>
                            {% endif%}

                        
                                


                                    <div class="card-columns">


                                        {% for timeslot in your_timeslots %}


                                        <div class="card">
                                            <div class="card-body">
                                                <div class=" card-text">
                                                    <div class="row justify-content-center m_top_small">
                                                        <i class="fas fa-clock m_right_small"></i>
                                                        {{timeslot.start_time|time:"H:i"}} -
                                                        {{timeslot.end_time|time:"H:i"}}
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <i class="fas fa-calendar-alt m_right_small"></i>
                                                        {{timeslot.date }}
                                                    </div>
                                                    <div class="row p-card justify-content-end">
                                                        <form action="/event/{{event.id}}/delete/{{timeslot.id}}/"
                                                            method="POST" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-icon"><i
                                                                    class='fas fa-trash-alt'></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        {% endfor %}
                                    </div>

                                </div>



                            </div>

                        </div>

                    </div>
                </div>
            </div>
            {%endif%}
        </div>




        <script src="{% static 'js/event.js' %}"></script>
        <script src="{% static 'js/add_ts.js' %}"></script>
        {% endblock %}