<!-- MultiStep Form -->

        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <h2><strong>Create a New Event</strong></h2>
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
               
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="event_det"><strong>Details</strong></li>
                                <li id="location"><strong>Location</strong></li>
                                <li id="calender"><strong>Dates</strong></li>
                                <li id="durtimer"><strong>Duration</strong></li>
                                <li id="clock"><strong>Time</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Event Details</h2> 
                                    <div class="explanation">Give your event a title and a fitting description.</div><br>
                                    <input type="text" name="event_title" placeholder="Event title" /> 
                                    <input type="text" name="desc" placeholder="Description" />
                                </div> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Place of the event</h2>
                                    <div class="explanation">Where will the event take place?</div><br>
                                    <input type="text" name="loc" placeholder="Location" /> 
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Possible Dates *</h2> 
                                    <div class="explanation">Between which two dates will the event take place? (Including those dates)</div><br>
                                    <div>Start date:</div>
                                    <input type="date" name="startdate"/>
                                    <div class="">End date:</div>
                                    <input type="date" name="enddate"/> 
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Duration</h2> 
                                    <div class="explanation">How long does this event last?</div><br>
                                    <input type="time" name="duration"/>
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Time of Day</h2>
                                    <div class="explanation">Between what times can the event take place?</div><br> 
                                    <div>Start time:</div>
                                    <input type="time" name="startdate"/> 
                                    <div>End time:</div>
                                    <input type="time" name="enddate"/> 
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="make_payment" class="next action-button" value="Confirm" />
                            </fieldset>
                     
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success!</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Created an Event</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
