{% extends 'base.html' %}
{% load static %}
{% block title %}Edit event{% endblock %}
{% block stylesheet %}
<!-- <link rel="stylesheet" href="{% static 'css/eventbase.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'css/event.css' %}" /> -->
<!-- <link rel="stylesheet" href="{% static 'css/event_style.css' %}" /> -->
<!-- <meta http-equiv="refresh" content="5"> -->
{% endblock %}
{% block header%}{%endblock%}
{% block content %}
    <form method="POST" action="/event/{{ event.id }}/edit/#/" enctype="multipart/form-data" class="blob">
        {% csrf_token %}
        {{form.as_p}}
        <p>Current:</p>
        <img src="{{ event.image.url }}" width="300px"><br>
        <input type="submit" value="Save Edits" class="btn">
    </form>
    <form method="POST" action="/event/{{ event.id }}/edit/delete/" enctype="multipart/form-data" id="delete_form">
        {% csrf_token %}
        <!-- Make pop up work -->
        <input type="submit" value="Delete event" class="btn btn-dark" onclick="validateSubmit();return false;">
    </form>
    <script>
        function validateSubmit() {
            result = confirm("Are you sure you want to delete?");
            if (result) {
                $('#delete_form').submit();
            }
        }
    </script>
{% endblock %}