{% extends 'framework.html' %}
{% load static %}
{% load nicedelta %}

{% block title %}Event{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/event_style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
{% endblock %}


{% block content %}


<div class="container-fluid h-100">
    <div class="row h-100">

        <!-- LEFT SECTION - INVITE, ATTENDEES, PENDING, ADD TIME SLOT -->
        <div class="col-sm-3 left-section">
            <div class="row">

                <div class="accordion" id="eventAccordion">

                    {% if user == event.host %}
                    {% include "event_hl.html" %}
                    {% endif %}

                    <!-- ATTENDEES -->
                    <div class="card">
                        <div class="card-header" id="headingAttendees">
                            <h2 class="mb-0">
                                <button type="button" class="btn-accordion" data-toggle="collapse"
                                    data-target="#collapseAttendees">
                                    Attendees
                                </button>
                            </h2>
                        </div>
                        <div id="collapseAttendees" class="collapse" aria-labelledby="headingAttendees"
                            data-parent="#eventAccordion">
                            <div class="card-body txt_center">
                                <table class="people">
                                    {% for participant in participants %}
                                    <tr>
                                        <td>
                                            {{participant.first_name}} {{participant.last_name}}
                                        </td>
                                        <td>
                                            {% if participant == user %}
                                            (you)
                                            {% elif user == event.host %}
                                            <form
                                                action="{% url 'participant_delete' event_id=event.id user_id=participant.id %}"
                                                method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-icon"><i
                                                        class='fas fa-trash-alt'></i></button>
                                            </form>
                                            {% elif participant == event.host %}
                                            (host)
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>


                    <!-- ADD TIME SLOTS -->
                    <div class="card">
                        <div class="card-header" id="headingTS">
                            <h2 class="mb-0">
                                <button type="button" class="btn-accordion" data-toggle="collapse"
                                    data-target="#collapseTS">
                                    Add a time
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTS" class="collapse" aria-labelledby="headingTS" data-parent="#eventAccordion">
                            <div class="card-body txt_center">
                                <form action="{% url 'event' event_id=event.id %}" method="post"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ timeslotform.as_p }}
                                    <input type="submit" class="btn btn-light" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="row justify-content-center m_top_med m_btm_small">

                <div class="col txt_center">
                    <a href="{% url 'mypage' %}" class="btn btn-dark">Dashboard</a>
                </div>

            </div>
            {% if user != event.host %}
            <div class="row justify-content-center m_top_med m_btm_small">

                <div class="col txt_center">

                    <form action="{% url 'participant_leave' event_id=event.id user_id=user.id %}" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" value="Leave event">
                    </form>
                </div>

            </div>
            {% endif %}

        </div>


        <!-- RIGHT SECTION - EVENT INFO, TIME SLOTS -->
        <div class="col m_top_med">
            <!-- EVENT INFO -->
            <div class="row justify-content-center event_info_wrap">
                {% if event.image.url != "/media/default.jpg" %}
                <div class="col-md-4 event_image">
                    <img class="img_test" src="{{event.image.url}}" />
                </div>
                {% endif %}
                <div class="col-md-8 displayright event_txt txt_center">

                    <span class="event_tit" id="id_event_title"> {{event.title}}</span>
                    <br>

                    <div class="txt_large">

                        {{event.location}}

                    </div>

                    <div class="txt_large">
                        {%if event.startdate == event.enddate%}
                        {{event.startdate}}
                        {%else%}
                        {{event.startdate}} - {{event.enddate}}
                        {%endif%}
                    </div>
                    <div class="txt_large">

                        {{event.starttime}} - {{event.endtime}}

                    </div>
                    <div class="txt_large">

                        Duration: {{event.duration|nicedelta}}

                    </div>
                    <div class="txt_large">

                        Hosted by: {{event.host.first_name|capfirst}} {{event.host.last_name|capfirst}}

                    </div>


                    <div class="event_desc txt_center m_top_small p_side_s">
                        {{event.description}}
                    </div>

                    <div class="row m_top_med">
                        <div class="col-md-10">

                        </div>
                        <div class="col displayright">

                            {% if user == event.host%}
                            <a href="{% url 'eventedit' event_id=event.id %}" class="btn btn-dark txt_large">Edit</a>
                            {% endif %}
                        </div>
                    </div>


                </div>

            </div>


            <!-- TIMESLOT SECTION -->
            <div class="row m_top_small justify-content-center txt_center">
                <div class="col-md-5 folder_active btn btn-light" id="overlapTS">
                    <button class="btn-accordion full_width" onclick="tmslotToggle('overlapTS')">OVERLAP *</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 folder_unactive btn btn-light" id="ownTS">
                    <button class="btn-accordion full_width" onclick="tmslotToggle('ownTS')">MY TS *</button>
                </div>

            </div>







            <div class="row m_top_med">
                <!-- BUTTONS -->

                <!-- TIMESLOTS -->
                <div class="col displayright">
                    <div dir="overlapTS">

                        <!-- overlap timeslots -->
                        <div class="overlapTS_txt">
                            <div class="card-columns">



                                {% for pt in pts %}

                                {% if user == event.host%}

                                <button class="card" type="button" data-toggle="modal"
                                    data-target="#exampleModalCenter{{pt.id}}">
                                    {% else %}
                                    <div class="card">


                                        {% endif%}
                                        <table>
                                            <tr>
                                                <td>Time: </td>
                                                <td>{{pt.start_time|time:"H:i"}} - {{pt.end_time|time:"H:i"}}</td>
                                            </tr>
                                            <tr>
                                                <td>Date: </td>
                                                <td>{{pt.date }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{pt.n_participants}} / {{event.n_attendees}}</td>
                                            </tr>
                                        </table>

                                        {% if user == event.host%}
                                </button>

                                <!-- To get popup -->
                                <div class="modal fade" id="exampleModalCenter{{pt.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle{{pt.id}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'timeslot_select' event_id=event.id %}"
                                                    method="post" id="selectform{{pt.id}}">
                                                    {% csrf_token %}
                                                    <ul>
                                                        {% for starttime, endtime in pt.split %}
                                                        <li>
                                                            <input type="radio" class="btn-check" name="options"
                                                                id="option{{starttime}}" autocomplete="off"
                                                                value="{{starttime|time:'H:i'}},{{endtime|time:'H:i'}},{{pt.date|date:'Y/m/d'}}">
                                                            <label class="btn btn-secondary"
                                                                for="option{{starttime}}">{{starttime|time:"H:i"}} -
                                                                {{endtime|time:"H:i"}}</label>
                                                        </li>
                                                        {% endfor %}
                                                        <!-- <input type="submit" value="Submit" > -->
                                                    </ul>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary"
                                                    form="selectform{{pt.id}}">Choose</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%else %}
                            </div>
                            {% endif%}
                            {% endfor %}



                        </div>



                    </div>

                    <!-- own timeslots -->
                    <div class="ownTS_txt">

                        <!-- overlap timeslots -->
                        <div class="overlapTS_txt">
                            <div class="card-columns">



                                {% for timeslot in your_timeslots %}


                                <div class="card">

                                    <table>
                                        <tr>
                                            <td>Time: </td>
                                            <td>{{timeslot.start_time|time:"H:i"}} - {{timeslot.end_time|time:"H:i"}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date: </td>
                                            <td>{{timeslot.date }}</td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <form action="/event/{{event.id}}/delete/{{timeslot.id}}/" method="POST"
                                                    enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-icon"><i
                                                            class='fas fa-trash-alt'></i></button>
                                                </form>
                                            </td>
                                        </tr>

                                    </table>

                                </div>
                                {% endfor %}





                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <script src="{% static 'js/event.js' %}"></script>
    {% endblock %}