{% extends 'framework.html' %}
{% load static %}
{% block title %}Schedge{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
{% endblock %}

{% block content%}

<div class="container-fluid h-100">
    {%include "startpage_header.html"%}
    <div class="row h-100 justify-content-center v-center">
       
      
            <div class="col">

                <div class="row">
                    <div class="col txt_center logo_style"><img src="{%static 'icons/logo.svg'%}" alt="Schedge"
                            width="auto"></div>
                </div>

                <div class="row justify-content-center">
                    <div class="col txt_center sub_txt m_top_small txt_ls_small">
                        Find the time that works for <span class="txt_large txt_cursive txt_bold">all</span> of you<br>
                        Do the same as <span class="txt_large txt_cursive txt_bold">{{user_count}}</span> other
                        {%if user_count == 1%}
                        person,
                        {%else%}
                        people,
                        {%endif%}
                        join today!

                    </div>
                </div>

                <div class="row justify-content-center m_top_med">
                    <a href="{% url 'login' %}" id="sign-in">
                        <button type="button" class="btn btn-dark btn-register p_side_m txt_large">Sign in</button>
                    </a>
                </div>

                <div class="row">
                    <div class="col txt_center m_top_xsmall  txt_bold ">OR</div>
                </div>

                <div class="row justify-content-center m_top_xsmall">
                    <a href="{% url 'signup' %}" class="simple_link  txt_large">Create an account</a>
                </div>

            </div>
       

    </div>
</div>
{%endblock%}