<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <title>My Page</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="name">schedge</a>
        <div class="header-right">
            <a href="#createevent" class="event_btn">&nbsp;+ CREATE EVENT </a>
            <a href="#signout" class="sign_out">Sign out</a>
        </div>
    </div>

    {% if events %}
    <div class="my_events_title glow">My events</div>
    {% for event in events %}
    <div class="box">
        <ul>
            <li class="title"> {{event.title}}</li>
            <li> {{event.duration}} hours</li>
            <li> {{event.description}}</li>
            <li> {{event.location}}</li>
        </ul>
    </div>
    
    {% endfor %}
    {% endif %}
</body>
</html>