{% extends 'framework.html' %}
{% load static %}
{% block title %}Sign in{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/startpage.css' %}" />
<link rel="stylesheet" href="{% static 'css/reg.css' %}" />
{% endblock %}

{% block content %}


<div class="container-fluid">
    {%include "startpage_header.html"%}


    <div class="row">


        <div class="col p_btm_med">
            <div class="row justify-content-center">
                <div class="col-10 d-flex justify-content-center sub_signup_title m_top_med m_btm_small">
                    {% block reg_title %}
                    {% endblock %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 d-flex justify-content-center">
                    {% block reg_content1 %}
                    {% endblock %}
                    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 d-flex justify-content-center">
                    {% block reg_content2 %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>


    </div>

</div>




{% endblock %}